WindowsFormsApp2/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/InformationsTagsPictures" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_saveInformations_InputMessage">
    <wsdl:part name="parameters" element="tns:saveInformations" />
  </wsdl:message>
  <wsdl:message name="IService1_saveInformations_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveInformationsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_displaySearchResults_InputMessage">
    <wsdl:part name="parameters" element="tns:displaySearchResults" />
  </wsdl:message>
  <wsdl:message name="IService1_displaySearchResults_OutputMessage">
    <wsdl:part name="parameters" element="tns:displaySearchResultsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_createPicture_InputMessage">
    <wsdl:part name="parameters" element="tns:createPicture" />
  </wsdl:message>
  <wsdl:message name="IService1_createPicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:createPictureResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deletePicture_InputMessage">
    <wsdl:part name="parameters" element="tns:deletePicture" />
  </wsdl:message>
  <wsdl:message name="IService1_deletePicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:deletePictureResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_createTags_InputMessage">
    <wsdl:part name="parameters" element="tns:createTags" />
  </wsdl:message>
  <wsdl:message name="IService1_createTags_OutputMessage">
    <wsdl:part name="parameters" element="tns:createTagsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getTags_InputMessage">
    <wsdl:part name="parameters" element="tns:getTags" />
  </wsdl:message>
  <wsdl:message name="IService1_getTags_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTagsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_saveTag_InputMessage">
    <wsdl:part name="parameters" element="tns:saveTag" />
  </wsdl:message>
  <wsdl:message name="IService1_saveTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveTagResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveInformations">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/saveInformations" message="tns:IService1_saveInformations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/saveInformationsResponse" message="tns:IService1_saveInformations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="displaySearchResults">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/displaySearchResults" message="tns:IService1_displaySearchResults_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/displaySearchResultsResponse" message="tns:IService1_displaySearchResults_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createPicture">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/createPicture" message="tns:IService1_createPicture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/createPictureResponse" message="tns:IService1_createPicture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deletePicture">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deletePicture" message="tns:IService1_deletePicture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deletePictureResponse" message="tns:IService1_deletePicture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createTags">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/createTags" message="tns:IService1_createTags_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/createTagsResponse" message="tns:IService1_createTags_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTags">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getTags" message="tns:IService1_getTags_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getTagsResponse" message="tns:IService1_getTags_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/saveTag" message="tns:IService1_saveTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/saveTagResponse" message="tns:IService1_saveTag_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveInformations">
      <soap:operation soapAction="http://tempuri.org/IService1/saveInformations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="displaySearchResults">
      <soap:operation soapAction="http://tempuri.org/IService1/displaySearchResults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createPicture">
      <soap:operation soapAction="http://tempuri.org/IService1/createPicture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePicture">
      <soap:operation soapAction="http://tempuri.org/IService1/deletePicture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createTags">
      <soap:operation soapAction="http://tempuri.org/IService1/createTags" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTags">
      <soap:operation soapAction="http://tempuri.org/IService1/getTags" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveTag">
      <soap:operation soapAction="http://tempuri.org/IService1/saveTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/InformationsTagsPictures/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>